{#name: Biology#}
{#save_directory: ~/#}
{%Latin Name%} ({%Common Name%})

This is {%Type {aqatic|terrestrial}%} animal, with {%Horns Number%} horns.

{$Description$}: {%%}
{$Feeding type {predator|herbivore}$}: {%%}
